[Unit]
Description=uWSGI instance to serve flaskapp
After=network.target

[Service]
User=[user name]
Group=www-data
WorkingDirectory=[path to proejct]
Environment="PATH=[path to virtualenv]/bin"
ExecStart=[path to virtualenv]/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
