[Unit]
Description=uWSGI instance to serve flaskapp
After=network.target

[Service]
User=jihunjung
Group=www-data
WorkingDirectory=/home/jihunjung/pyflask
Environment="PATH=/home/jihunjung/deeplearning_env/bin"
ExecStart=/home/jihunjung/deeplearning_env/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
